canvas {
  position : fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  pointer-events: all;
}

a {
  color: skyblue;
}

#scroll-box {
  position: fixed;
	overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events:auto;
  scrollbar-width: none;
}

.scroll-item {
  position: relative;
  height: 500px;
  width: 100%;
  pointer-events: none;
}

.widget-steam{
  width: 100%;
  height: 250px;
}

@font-face {
  font-family: 'Steps-Mono-Thin';
  src: url('/src/Steps-Mono-Thin.woff2') format('woff2');
}

#flat-renderer {
  position : absolute;
  top : 0px;
  left : 0px;
  pointer-events: none;
}

#enter-text{
  position: fixed;
  visibility: hidden;
  font-family: 'Special Gothic Expanded One';
  margin: auto;
  width: 100%;
  bottom: 15%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-shadow : 0 0 100px white, 0 0 24px rgba(255, 255, 255, 0.199);
}

#loading-text{
  position: fixed;
  font-family: 'Special Gothic Expanded One';
  filter: drop-shadow(0 0 50px rgb(255, 255, 255));
  margin: auto;
  width: 100%;
  bottom: 20%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 300%;
}

#toggleSoundButton{
  top: 15px;
  right: 215px;
}

#bioButton{
  top: 15px;
  right: 15px;
}

#behindTheScenesButton{
  top: 15px;
  right: 150px;
}

.basicButton{
  border: 2px solid white;
  background: none;
  position: fixed;
  opacity: 20%;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px white);
  border-radius: 1px;
}

.basicButton:hover{
  opacity: 90%;
  filter: drop-shadow(0 0 1px white);
  cursor: pointer;
}

.inner-button{
  position: fixed;
  height: 65%;
  margin: auto;
}

.inner-button-text{
  margin: auto;
  text-align: center;
  font-family: 'Special Gothic Expanded One';
  font-size: 15px;
  color: white;
  top: 30%;
  left: 9px;
}

.project-container{
  visibility: hidden;
  position: fixed;
  filter: drop-shadow(0 0 100px rgb(51, 63, 88));
  width: 35%;
  height: 95%;
  top: 3%;
  left: 32.5%;
  opacity: 0%;
  overflow: visible;
}

.project-screenshot-container{
  margin-top: 5%; display: grid;
}

.project-screenshot{
  margin: auto;
  width: 10%;
  border-radius: 10px;
}

.project-video{
  position: relative;
  margin: auto;
  border-radius: 10px;
  width: 100%;
  top: 1%;
}

.project-title{
  position: relative;
  font-family: 'Special Gothic Expanded One';
  margin: auto;
  text-align: center;
  width: 110%;
  right: 5%;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 10px rgb(51, 63, 88));
  font-size: 400%;
}

.project-text{
  font-family: 'Lexend';
  margin: auto;
  text-align: justify;
  margin-top: 4%;
  color: rgb(255, 255, 255);
  font-size: 120%;
}

.project-tech-container{
  position: relative;
  display: grid;
  margin: auto;
  margin-top: 20px;
  /* padding: 0px; */
  /* background-color: rgba(94, 94, 94, 0.336); */
  border-radius: 10px;
  justify-self: center;
  height: 10%;
}

.project-tech-logo{
  margin: auto;
  width: 50px;
  align-self: center;
  justify-self: center;
}

.tab-2D-container{
  visibility: hidden;
  position: fixed;
  /* border: 2px solid rgb(245, 245, 245); */
  filter: drop-shadow(0 0 100px rgb(51, 63, 88));
  width: 75%;
  height: 80%;
  top: 15%;
  left: 12.5%;
  opacity: 0%;
  pointer-events: all;
}

.tab-2D-text-container{
  margin-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 100%;
}

#tab2DBackContainer{
  visibility: hidden;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0);
  opacity: 90%;
}

.tab-2D-title{
  font-family: 'Special Gothic Expanded One';
  margin: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 300%;
  filter: drop-shadow(4px 4px 0px black);
}

.tab-2D-text{
  font-family: 'Lato';
  margin: auto;
  text-align: center;
  margin-top: 2%;
  color: rgb(255, 255, 255);
  font-size: 130%;
}

.tab-2D-screenshot{
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.tab-2D-screenshot-container{
  position: relative;
  width: 50%;
  left: 25%;
}

.tab-2D-italic-infos{
  font-family: 'Lato';
  text-align: center;
  font-style: italic;
  margin-top: 1%;
  font-size: 130%;
  color: rgb(204, 204, 204);
}


@media only screen and (max-width: 768px) {
  

  .project-container{
    visibility: hidden;
    position: fixed;
    filter: drop-shadow(0 0 100px rgb(51, 63, 88));
    width: 80%;
    height: 95%;
    top: 7.5%;
    margin: auto;
    left: 10%;
    opacity: 0%;
    overflow: visible;
  }

  .scroll-item {
  position: relative;
  width: 500px;
  height: 100%;
  pointer-events: none;
}
}