canvas {
  position : fixed;
  top:0;
  left:0;
}

body {
  background-color: black;
  scroll-snap-type: y mandatory;
	overflow-y: scroll;
  scroll-snap-stop: always;
  pointer-events: all;
}

a {
  color: skyblue;
}

#scroll-box {
  position: fixed;
  scroll-snap-type: y proximity;
	overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events:auto;
}

.scroll-item {
  position: relative;
  height: 1000px;
  width: 100%;
  scroll-snap-align: center;
  pointer-events: none;
}

.widget-steam{
  width: 100%;
  height: 250px;
}

@font-face {
  font-family: 'Steps-Mono-Thin';
  src: url('/src/Steps-Mono-Thin.woff2') format('woff2');
}

#flat-renderer {
  position : absolute;
  top : 0px;
  left : 0px;
  pointer-events: none;
}

#enter-text{
  font-family: 'Steps-Mono-Thin';
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 200%;
  text-shadow : 0 0 8px white, 0 0 24px rgba(255, 255, 255, 0.199);
}

#loading-text{
  position: fixed;
  font-family: 'Steps-Mono-Thin';
  font-weight: 900;
  filter: drop-shadow(0 0 50px rgb(255, 255, 255));
  margin: auto;
  bottom: 20%;
  left: 45%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 300%;
}

.project-container{
  visibility: hidden;
  position: fixed;
  /* border: 2px solid rgb(245, 245, 245); */
  filter: drop-shadow(0 0 100px rgb(51, 63, 88));
  width: 50%;
  height: 80%;
  top: 5%;
  left: 25%;
  opacity: 0%;
  pointer-events: all;
}

.project-text-container{
  margin-top: 3%;
  overflow: auto;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  height: 100%;
}

#backContainer{
  visibility: hidden;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  background-color: rgb(0, 0, 0);
  opacity: 90%;
}

#toggleSoundButton{
  top: 2%;
  right: 13%;
}

#bioButton{
  top: 2%;
  right: 4.5%;
}

#devInfoButton{
  top: 2%;
  right: 1%;
}

.basicButton{
  border: 2px solid white;
  background: none;
  position: fixed;
  opacity: 20%;
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 5px white);
  border-radius: 1px;
}

.basicButton:hover{
  opacity: 90%;
  filter: drop-shadow(0 0 1px white);
  cursor: pointer;
}

.inner-button{
  position: fixed;
  height: 65%;
  margin: auto;
}

.inner-button-text{
  margin: auto;
  text-align: center;
  font-family: 'Lato';
  font-size: 150%;
  color: white;
  top: 25%;
  left: 6%;
}

.project-title{
  font-family: 'Lato';
  margin: auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 300%;
  filter: drop-shadow(4px 4px 0px black);
}

.project-text{
  font-family: 'Lato';
  margin: auto;
  text-align: justify;
  margin-top: 2%;
  color: rgb(255, 255, 255);
  font-size: 130%;
}

.project-screenshot{
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.project-screenshot-container{
  position: relative;
  width: 50%;
  left: 25%;
}

.project-italic-infos{
  font-family: 'Lato';
  text-align: center;
  font-style: italic;
  margin-top: 1%;
  font-size: 130%;
  color: rgb(204, 204, 204);
}